# Joins

* Key: 1 or more attributes that uniquely identifies rows (instances)
* Foreign key: a key that references rows (typically in other tables)
* Join: Combining 2 tables on {key : foreign key} pairs

## Types of Joins:

### Inner join:
* Combines two tables on key matches (key : foreign key) to produce a third table  

Pseudocode:
```python
for row in table_1:
    for row in table_2:
        # check to see if they match on key
        if("a key in table_2 match on key/foreign-key"):
            new_table.append(row)
```

### Outer join:
* Full outer join combines two tables on key matches **and** non matches to produce a third table

Pseudocode:
```python
for row in table_1:
    for row in table_2:
        if("a key in table_2 match on key/foreign-key"):
            new_table.append(row)
    if("no match"):
        # fill missing table_2 values w/ "NA" in the row, then add it
for row in table_2:
    if("no match for this row in the join table"):
        # fill missing table_1 values w/ "NA" in the row, then add it
```

In [11]:
header_1 = ["CarName", "ModelYear", "MSRP"]
table_1 = [
    ["ford pinto", 75, 2769],
    ["toyota corolla", 75, 2711],
    ["ford pinto", 76, 3025],
    ["toyota corolla", 77, 2789],
]

header_2 = ["SaleId", "EmployeeId", "CarName", "ModelYear", "Amt"]
table_2 = [
    [555, 12, "ford pinto", 75, 3076],
    [556, 12, "toyota corolla", 75, 2611],
    [998, 13, "toyota corolla", 75, 2800],
    [999, 12, "toyota corolla", 76, 2989],
]